{% extends "layouts/base.html" %}
{%load static%}
{% block title %} UI Datatables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">DataTables.Net</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="#">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Tables</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Datatables</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Basic</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="basic-datatables" class="display table table-striped table-hover" >
								<thead>
									<tr>
										<th>sl_no</th>
										<th>api_type</th>
										<th>priority</th>
										<th>Dependencies</th>
										<th>Description</th>
										<th>service_name</th>
										<th>owner_poc</th>
										<th>mock_link</th>
										<th>curl</th>
										<th>dependent_services</th>
										<th>dependent_spoc</th>
										<th>dev_status</th>
										<th>open_q</th>
										<th>status</th>
										<th>test_owner</th>
                                        <th>jira</th>
                                        <th>i_comm</th>
									</tr>
								</thead>
							
								<tbody>
										{%for api in apis%}
										<tr>
										<td>{{api.sl_no}}</td>
										<td>{{api.api_type}}</td>
										<td>{{api.priority}}</td>
										<td>{{api.Dependencies}}</td>
										<td>{{api.Description}}</td>
										<td>{{api.service_name}}</td>
										<td>{{api.owner_poc}}</td>
										<td>{{api.mock_link}}</td>
										<td>{{api.curl}}</td>
										<td>{{api.dependent_services}}</td>
										<td>{{api.dependent_spoc}}</td>
										<td>{{api.dev_status}}</td>
										<td>{{api.open_q}}</td>
										<td>{{api.status}}</td>
										<td>{{api.test_owner}}</td>
                                        <td>{{api.jira}}</td>
                                        <td>{{api.i_comm}}</td>
									</tr>		
									{%endfor%}
								</tbody>
								</table>
								</div>
								</div>
								</div>
								</div>
								</div>
								</div>
								</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>

{% endblock javascripts %}
